@model IEnumerable<WebSiteClothesStore.Models.DonDatHang>
@using WebSiteClothesStore.Models

@{
    ViewBag.Title = "ListDonHangDaGiao";
    Layout = "~/Views/HomeLayout/ProductLayoutAdmin.cshtml";
    MydataContext context = new MydataContext();
}

<h2>Các đơn hàng đã giao</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangDDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UuDai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            Tổng tiền:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.MaDDH">
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
            </td>
            <td>
                <p class="trangThaiGiao">@item.TinhTrangDDH</p>
            </td>
            <td>
                <select name="tinhTrangThanhToan" class="selectTinhTrangDonHang">
                    @{
                        if (item.DaThanhToan == true)
                        {
                            <option value="true"> Đã thanh toán</option>
                            <option value="false"> Chưa thanh toán</option>
                        }
                        else
                        {
                            <option value="false"> Chưa thanh toán</option>
                            <option value="true"> Đã thanh toán</option>
                        }

                    }

                </select>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UuDai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @{
                    double tongTien = (double)context.CTDonDatHangs.Where(p => p.MaDDH == item.MaDDH).Sum(n => n.SoLuong * n.DonGia);
                }
                @tongTien.ToString("#,##") VNĐ
            </td>
            <td>
                <button class="capNhatTrangThai" data-id="@item.MaDDH"> Cập nhật</button>
              
                @Html.ActionLink("Details", "DetailDHH", new { id = item.MaDDH }) 

            </td>
        </tr>

    }
    <tr>
        <td>
            @{
                var tongTienDaThanhToan = context.CTDonDatHangs.Where(p => p.DonDatHang.DaThanhToan == false && p.DonDatHang.DaDat == true).Sum(p => p.DonGia * p.SoLuong);
            }
            Tổng số tiền đã thanh toán : @tongTienDaThanhToan.ToString("#,##") VNĐ
        </td>
    </tr>
</table>


<script>
    $(".capNhatTrangThai").click(function () {
        var idDDH = $(this).attr("data-id");
        var trDonHang = document.getElementById(idDDH);
        var select = trDonHang.querySelector(".selectTinhTrangDonHang");
        var valueSelect = $(select).val();
        var tdTinhTrangGiao = trDonHang.querySelector(".trangThaiGiao")
        $.ajax({
            type: "POST",
            data: { maDDH: idDDH, status: valueSelect },
            url: "/DonDatHang/CapNhatDonDat",
            success: function (status) {
                $(tdTinhTrangGiao).html(status == true?"Đã giao":"Đang giao");
            },
            error: function (err) {
                alert('Error ', err.statusText);
            }
        })
        console.log($(select).val());
    })
</script>